*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color :inherit;
}
.navbar{
  padding: 0 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: cursive;
  background-color: grey;
  color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
}
.navLeft{
  display: flex;
  justify-content: space-between;
}
.navLeft>h3{
  margin: 0 15px;
}
.product-container-main{
  height: auto;
  margin-bottom: 5rem;
}
.searchbar{
  border: 2px solid deeppink;
  height: 50px;
  width: 50%;
  margin: .5rem auto;
}
.product-container{
  display:flex;
  gap: 1rem;
  width: 95%;
  margin: auto;
}
.filter-container{
  border: 2px solid red;
  width: 20vw;
  height: 550px;
  position: sticky;
  top: 15vh;
}
.products{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.card{
  border: 1px solid rgba(1,1,1,0.5);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 10px;
  font-family: cursive;
}
.prod-img{
  height: 200px;
  object-fit: contain;
}
.prod-desc{
  border-top: 1px solid;
  margin: .4rem 0;
}
.add-to-cart>button{
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color:green;
  color: white;
  font-family: cursive;
}