*{
  margin: 0;
  padding: 0;
  font-family: cursive;
}
a{
  text-decoration: none;
  color :inherit;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}
.navbar{
  padding: 0 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
}
.navLeft{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.product-container-main{
  margin-bottom: 5rem;
}
.searchbar{
  height: 50px;
  width: 50%;
  margin: .5rem auto;
}
.searchbar>input{
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 1rem;
}
.product-container{
  display:flex;
  gap: 1rem;
  width: 95%;
  margin: auto;
}
.filter-container{
  border: 1px solid rgba(1,1,1,0.5);
  width: 20vw;
  position: sticky;
  top: 15vh;
}
.products{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.card{
  border: 1px solid rgba(1,1,1,0.5);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.prod-img{
  height: 200px;
  object-fit: contain;
}
.prod-desc{
  border-top: 1px solid;
  margin: .4rem 0;
}
.add-to-cart>button,.remove-from-cart-btn{
  width: 100%;
  padding: 10px 15px;
  border: none;
  color: white;
}

.category-box{
  border-bottom: 2px solid darkblue;
  padding: 1rem;

}
.category-option{
  display: flex;
  gap: .5rem;
}
.remove-from-cart-btn{
  background-color: red;
}
.add-to-cart-btn{
  background-color: green;
}

.cart-container{
  width: 90%;
  margin: 2rem auto;
}
.cart-product-container{
  border-top: 2px solid darkblue;
  margin-top: 1rem;
  padding: 10px;
}
.cart-prod{
  width: 40%;
  display: flex;
  align-items: center;
  border:1px solid rgba(1,1,1,0.5);
  padding: .5rem;
  justify-content: space-between;
}
.cart-prod-img>img{
  height: 100px;
  border: 1px solid;
}
.cart-prod-btn{
  display: flex;
  gap: 1rem;
}
.cart-product-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart-header{
  display: flex;
  width: 80%;
  justify-content: space-between;
}
/* TAB SCREEN */
@media only screen and (min-width: 426px) and (max-width:768px){
  .navbar{
    width: 100vw;
  }
  .cart-container{
    width: 100%;
  }
  .searchbar{
    width: 90%;
  }
  .filter-container{
    width: 25vw;
  }
  .products{
  grid-template-columns: repeat(2, 1fr);
  width: 70vw;
  }
    .filter-container {
      border: 1px solid rgba(1, 1, 1, 0.5);
      width: 20vw;
      position: sticky;
      top: 15vh;
    }
         .cart-prod {
           width: 100%;
         }
}
/* MOBILE */
@media only screen and (min-width: 100px) and (max-width:425px){
  .navbar{
    width: 100vw;
  }
.products {
    grid-template-columns: repeat(1, 1fr);
    width: 60vw;
  }
    .filter-container {
      width: 40vw;
    }
         .searchbar {
           width: 90%;
         }
                 .cart-prod{
                  width: 90%;
                 }
         .cart-container {
           width: 100%;
         }
}